@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}
* ::-moz-selection {
  color: default;
  background-color: default;
}
* ::selection {
  color: default;
  background-color: default;
}
* body {
  display: flex;
  align-items: 0;
  justify-content: space-between;
  flex-wrap: none;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eee;
  /* ACCORDION */
  /* FORM */
  /* BUTTONS */
}
* body.no-scroll {
  overflow-y: hidden;
}
* body .accordion .panel {
  display: none;
}
* body .accordion.active .panel {
  display: block;
}
* body form input {
  height: 50px;
  outline: none;
  padding: 10px 15px;
  border-radius: 0;
  border: 1px solid #000;
}
* body form button {
  border: 1px solid #000;
  background-color: #fff;
}
* body form button:hover {
  background-color: #eee;
}
* body button, * body .button {
  cursor: pointer;
}
* picture {
  font-size: 0;
  line-height: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
* picture img {
  display: block;
}

body.master header {
  background-color: #eee;
  box-shadow: 0px 1px 0px 0px rgba(0, 11, 38, 0.12);
  padding: 0 5vw;
}
body.master header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
  flex-direction: none;
  max-width: 1245px;
  min-height: 70px;
  margin: 0 auto;
}
body.master header nav .logo img {
  height: 50px;
  width: auto;
}
body.master #app {
  padding: 20px 5vw;
}
body.master #app .smartphone {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  background: #fff;
}
body.master #app .smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}
body.master #app .smartphone .button {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}
body.master #app .smartphone #messages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-bottom: 60px;
  overflow-y: scroll;
}
body.master #app .smartphone #messages .message {
  padding: 10px;
  width: 60%;
  margin-bottom: 15px;
  border-radius: 5px;
}
body.master #app .smartphone #messages .message * {
  font-size: 15px;
}
body.master #app .smartphone #messages .message.bot {
  background-color: #6253e4;
}
body.master #app .smartphone #messages .message.user {
  background-color: #cec9ec;
  margin-left: 40%;
}
body.master #app .smartphone form {
  display: flex;
  align-items: none;
  justify-content: none;
  flex-wrap: none;
  flex-direction: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
body.master #app .smartphone form input {
  width: 80%;
  height: 50px;
}
body.master #app .smartphone form button {
  width: 20%;
  height: 50px;
}
body.master footer {
  padding: 0 5vw;
}
body.master footer > div {
  max-width: 1245px;
  margin: 0 auto;
  border-top: 1px solid #b9b6b8;
  padding: 20px 0 40px 0;
}
body.master footer > div * {
  text-align: center;
}

body.admin {
  background-color: #eee;
}
