body.master {
    $mw: 1245px;

    header {
        background-color: $white;
        box-shadow: 0px 1px 0px 0px rgb(0 11 38 / 12%);
        padding: 0 5vw;

        nav {
            @include flex(center, space-between);
            max-width: $mw;
            min-height: 70px;
            margin: 0 auto;

            .logo img {
                height: 50px;
                width: auto;
            }
        }
    }

    #app {
        padding: 20px 5vw;

        .smartphone {
            position: relative;
            width: 100%;
            max-width: 360px;
            height: 640px;
            margin: auto;
            border: 16px black solid;
            border-top-width: 60px;
            border-bottom-width: 60px;
            border-radius: 36px;
            background: #fff;

            &:before {
                content: '';
                display: block;
                width: 60px;
                height: 5px;
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #333;
                border-radius: 10px;
            }

            .button {
                width: 35px;
                height: 35px;
                position: absolute;
                left: 50%;
                bottom: -65px;
                transform: translate(-50%, -50%);
                background: #333;
                border-radius: 50%;
            }

            #messages {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 15px;
                padding-bottom: 60px;
                overflow-y: scroll;

                .message {
                    padding: 10px;
                    width: 60%;
                    margin-bottom: 15px;
                    border-radius: 5px;
                    
                    * {
                        font-size: 15px;
                    }

                    &.bot {
                        background-color: $primary;
                        
                        p {
                            color: $white;
                        }
                    }

                    &.user {
                        background-color: $secondary;
                        margin-left: 40%;
                    }
                }
            }

            form {
                @include flex();
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #fff;

                input {
                    width: 80%;
                    height: 50px;
                }

                button {
                    width: 20%;
                    height: 50px;
                }
            }
        }
    }

    footer {
        padding: 0 5vw;

        > div {
            max-width: $mw;
            margin: 0 auto;
            border-top: 1px solid #b9b6b8;
            padding: 20px 0 40px 0;

            * {
                text-align: center;
            }
        }
    }
}